/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Puedes añadir estilos base globales aquí si es necesario */
body {
  /* font-family: 'TuFuentePreferida', sans-serif; */
  @apply bg-background-light text-text-dark; /* Aplicar colores base de tu paleta */
}

@layer components {
  .input-style {
    @apply px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-color-secondary focus:border-color-secondary sm:text-sm;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ocultar flechas en Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
